<!DOCTYPE html>

<html lang="en">

<head>
<style>
    html {background-color: #f1f5f9; font-family: sans-serif}
    * {
        box-sizing: border-box;
    }
</style>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<body>
    <h1>Chad Jemmett</h1>
    <ul>
        <li>
        <a href="#">My Resume</a></br>
        </li>
        <li><a href="https://github.com/chadjemmett"> GitHub</a>
        </li>        
        <li><a href="https://www.linkedin.com/in/chad-jemmett-a3a0a347/">LinkedIn</a>
        </li>    
    </ul>
</body>
</html>
