
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Chad Jemmett | Backend Developer | chad.jemmett@gmail.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<!-- <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> --> 
	<link rel="stylesheet" type="text/css" href="static/yahoo.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="static/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd" >
			<div class="yui-gc" >
				<div class="yui-u first">
					<h1>Chad Jemmett</h1>
					<h2>Backend Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="static/CHAD_JEMMETT_RESUME.pdf">Download PDF</a></h3>
						<h3><a href="mailto:chad.jemmett@gmail.com">chad.jemmett@gmail.com</a></h3>
						<h3>(208) - 350-0359</h3>
                        <h3><a href="https://www.linkedin.com/in/chad-jemmett-a3a0a347/">LinkedIn</h3>
                        <h3><a href="https://github.com/chadjemmett/">Github</a></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd" >
			<div id="yui-main">
				<div class="yui-b" >

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
                            Greetings! I am an experienced backend developer. My background is in broadcasting where I started putting stories on the web for my TV station. From there I taught myself Ruby, Ruby on Rails and SQL. I expanded my skills with computer science concepts at a bootcamp. Then launced my development career by joining a media company. I'm looking for a new role. I'm passionate about building tools to improve people's lives and business. Looking for a team where I can collaborate and solve interesting problems.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2> RESTful APIs</h2>
									<p>Develop both API endpoints and functions to retrieve data from third-party API. Collaborate with Frontend Developers to provide quick transfer of data from backend to frontend client</p>
								</div>

								<div class="talent">
									<h2>Test-Driven-Development</h2>
                                    <p>Construct Unit Tests and functional tests to ensure consistend behavior in web applicatinos and APIs.</p>
								</div>

								<div class="talent">
                                    <h2>PostgreSQL</h2>
									<p>Integrate SQL databases with backend libraries. Manage connections in both production and test environments. Knowledge of raw SQL skilled at writing queries to filter needed data.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf" >
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Python</li>
								<li>DJango</li>
								<li class="last">PostgreSQL</li>
							</ul>

							<ul class="talent">
								<li>Pytest</li>
								<li>HTML</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Cloud Services</li>
								<li>Git, Github, Gitlab</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job">
								<h2>Lofty Labs</h2>
								<h3>Backend Developer</h3>
								<h4>January 2023 - Februrary 2023</h4>
								<p>Devleoped API endpoints using Python, Flask and PostgreSQL. Collaborated with Devops, Frontend developer and Project owner to deliver finished product.</p>
							</div>

						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job">
								<h2>Wehco Media Inc.</h2>
								<h3>Backend Developer</h3>
								<h4>January 2020 - December 2022</h4>
                                <p>Developed features and fixed bugs on 18+ digital news properties to improve user experience and generate subscriptions.</p> 
<p>Collaborated with developers, marketing, sales, and editorial staff in fixing bugs and developing features.</p>
<p>Developed frontend features using Javascript. Implemented third-party Javascript libraries to track cusomter usage.</p>
<h3>Achievements</h3>

<p>Developer on Promobuilder Django Project.</p>
<p> Developed RESTful API to share data with third-party platforms, allowing accurate data reporting on
existing and new subscribers.</p>
 <p>Updated Django Admin Dashboard to allow new subscription settings required by third-party
customer data platforms.</p>
<p>Developed a custom Django Admin filter that allowed circulation staff to filter 20,000+ subscriptions
using marketing codes. Improved efficiency for marketing staff’s generation of sales reports.</p>
<p> Wrote Unit and Functional tests to ensure correct behavior. Tested future-proof Django applications
and avoided future bugs or failures.</p>
<p> Maintained a production and development server using Linux tools to update and improve remote
software.</p>

							</div>

						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<h2>Bloom Teck. Formerly Lambda School</h2>
								<h3>Teaching Assistant and Team Lead</h3>
								<h4>June 2019 - January 2020</h4>
                                <p>Built backend APIs for students working on frontend project.<p>
                                <p> Lead a team of 6-8 students to simulate an agile work environment.</p>
                                <p>Provided daily and weekly feedback on students’ class assignments over the five week class.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">



							<div class="job last">
                                <h2><a href="https://github.com/chadjemmett/aor_leaderboard">Python Wrapper for Art of Rally Leaderboard API</a></h2>
								<h3>Lead Developer</h3>
                                <p> Currently developing open source python library to get recent data on top racers for Art of Rally video game. Allows users to seamlessly collect data. Allowing them to track their progress and the progress of their rivals. </p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u job">
							<h2>Bloom Tech, formerly Lambda School - San Francisco, CA</h2>
							<h3>Web Development, Full-Stack Program</h3>
						</div>

						<div class="yui-u job last">
							<h2>Weber State University - Ogden, UT</h2>
							<h3>BS Communication, Minor: Art</h3>
						</div>

					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Chad Jemmett &mdash; <a href="mailto:chad.jemmett@gmail.com">chad.jemmett@gmail.com</a> &mdash; (208) - 350-0359</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</html>

